name: CI
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: ${{ github.event.pull_request.commits }}+1
          submodules: recursive
      - name: Get submodules
        run: git submodule update --init --recursive
      - uses: actions/setup-node@v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'npm'
      - name: Install Dependencies
        run: npm install
      - run: npm run lint
      - name: Run commitlint
        run: npx commitlint --last --verbose
      - name: Run tests
        run: npm test